<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="user_id" value="1"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="automatic_event_segmentation_enabled" value="0"/>
    <add key="hour_offset_of_uploaded_data" value="0"/>
    <add key="maximum_num_minutes_between_images_allowed_to_stay_in_same_event" value="3"/>
    <add key="minimum_length_of_automatically_segmented_events_in_minutes" value="3"/>
    <add key="num_end_images_in_day_to_ignore_in_event_clustering" value="4"/>
  </appSettings>
  <connectionStrings>
    <add name="SenseCamBrowser1.Properties.Settings.DCU_SenseCamConnectionString"
      connectionString="Data Source=C:\software development\APIs downloaded\Databases\sql lite\aiden_test.db;Pooling=true;FailIfMissing=false;Version=3"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"/>
  </startup>
</configuration>
