<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="user_id" value="1"/>
    <add key="db_already_installed" value="0"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="maximum_num_minutes_between_images_allowed_to_stay_in_same_event" value="3"/>
    <add key="minimum_length_of_automatically_segmented_events" value="3"/>
    <add key="automatic_event_segmentation_enabled" value="0"/>
    <add key="use_sql_express" value="0"/>
  </appSettings>
  <connectionStrings>
    <add name="SenseCamBrowser1.Properties.Settings.DCU_SenseCamConnectionString"
      connectionString="Data Source=.\SQLExpress;Initial Catalog=Oxford_CLARITY_SenseCam_May_2011;Integrated Security = True;"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"/>
  </startup>
</configuration>
